*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #282c34;
    padding: 20px;
    color: rgb(199, 16, 16);
    justify-content: center;
    text-align: center;
    font-family: Arial,sans-serif;
}
.nav{
    background-color: bisque;
    padding:12px;
    display:flex;
     justify-content: center;       /* left-right center */
    align-items: center; 
    gap : 30px;
}
.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 16px;
}

.nav a:hover {
    color: #ff6600;
}